# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
*.pptx
!setup.cfg
*.orig
*.log
*.pot
*/__pycache__
__pycache__/*
.cache/*
.pytest_cache/*
.*.swp
.DS_store
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage*
.tox
junit.xml
coverage.xml
pytest.ini

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/source/api/*
docs/source/_build/*
cover/*
MANIFEST

# VSCode environment settings
.vscode
